.tituloNav{
    text-align: center;
    background-color: lightgreen;
    padding: 1rem;
    font-size: 6mm;
}

.registroPro{
        position: relative;
        margin-left: 30rem; 
        align-content: center;
}

.nomInp{
    margin-right: 2rem;
}
.nomEti{
    margin-right: 2rem;
}
.cantEti{
    margin-right: 4rem;
}
.sabEti{
    margin-right: 4rem;
}
.SubirInp{
    margin-left: 16rem;
}
.precioEti{
    margin-right: 2rem;
}


.DispRad{
    margin-left: 4rem;
}
.AgotRad{
    margin-left: 4rem;
}

.tituloBorrar{
    background-color: lightcoral;
    padding: 2rem;
    text-align: center;
}

.formBorrar{
    margin-left: 35rem;
}
.borrarInp{
    margin-left: 3rem;
}
.borrarBot{
    margin-left: 5rem;
}
.tituloActualizar{
    background-color: lightskyblue;
    padding: 2rem;
    text-align: center;
}
.formActualizar{
    margin-left: 35rem;
}